<h3>New Category</h3>
<div class="card">
    <div class="card-body">
        <form action="/admin/categories/new" method="POST">
            <label for="name">Name </label>
            <input type="text" id="name" name="name" placeholder="Category Name" class="form-control">
            <label for="slug">Slug </label>
            <input type="text" id="slug" name="slug" placeholder="Category Slug" class="form-control">
            <button type="submit" class="btn btn-success">Create Category</button>
        </form>
    </div>
</div>