<div class="card">
    <div class="card-body">
        <h1>{{post.title}}</h1>
        <hr />
        <small>Published in: {{post.date}}</small>
        <hr />
        {{post.content}}
    </div>
</div>